@font-face {
    font-family: 'Open Sauce', sans-serif;
    src: url('/fonts/OpenSauce');
}

@font-face {
    font-family: 'Evolve Sans';
    src: url('/fonts/EvolveSans');
}

* {
    margin: 0;
    padding: 0;
}

button {
    outline: none;
}

h1, h2, p, ul, li {
    color: white;
}

h2 {
    font-size: 40px;
    font-family: 'Open Sauce', sans-serif;
}

p, ul {
    font-size: 20px;
    font-family: 'Evolve Sans', sans-serif;
    font-weight: 300;
}

section {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.fade-in {
    opacity: 0;
    transform: translateY(70px);
    transition: opacity 0.6s ease-in, transform 0.6s ease-in;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}
